[submodule "BYBE-tauri/BYBE-backend"]
	path = BYBE-tauri/BYBE-backend
	url = https://github.com/RakuJa/BYBE/
[submodule "BYBE-tauri/BYBE-frontend"]
	path = BYBE-tauri/BYBE-frontend
	url = https://github.com/TheAsel/BYBE-frontend/
